<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Portal de notícias</title>
</head>

<body>

	<h1>Notícia</h1>

	<!-- <table> -->
		<!-- <tr> -->
			<!-- <td>Título</td> -->
			<!-- <td>Notícias</td> -->
		<!-- </tr> -->

		<% for(const e of noticias) { %>
		<!-- <tr> -->
			<p><%= e.titulo %></p>
			<p><%= e.noticia %></p>
		<!-- </tr> -->
		<% } %>
	<!-- </table> -->

</body>

</html>