<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Título</td>
				<td>Notícias</td>
				<td>Data de Postagem</td>
			</tr>
			
			<% for(const e of noticias) { %>
			<tr>
				<td><%= e.id_noticia %></td>
				<td><%= e.titulo %></td>
				<td><%= e.noticia %></td>
				<td><%= e.data_criacao %></td>
			</tr>
			<% } %>
		</table>

	</body>
</html>